body{
  background-color: #eee;
}

.center-login{
    float:none;
    margin: 0 auto;
    max-width:600px;
}

.version{
    text-align:center;
    color:#ccc;
    font-size:11px;
}

form.formcp {
  max-width: 430px;
  padding: 15px;
  margin: 0 auto;
}
form.formcp .form-changep-heading,
form.formcp .checkbox {
  margin-bottom: 10px;
}
form.formcp .checkbox {
  font-weight: normal;
}
form.formcp .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
form.formcp .form-control:focus {
  z-index: 2;
}

form.formcp input[type="text"], form.formcp .pass1 {
  margin-bottom: -1px !important;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 4px !important;
  border-top-right-radius: 4px !important;
}
form.formcp input[type="password"], form.formcp .pass2 {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

select.input-validation-error, 
input[type="password"].input-validation-error, 
textarea.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

h1 {
    font-size:17px;
    font-weight:bold;
}
