.modal-dialog-full {
    width: 80%;
    /*height: 97.9%;*/
    padding: 0;
    margin: 10px auto;
}
.modal-content-full {
    height: 98%;
    overflow:auto;
}
.checkBoxColumn{
    width:20px;
}
.btnExpand{
    top: 8px;
    left: 4px;
    height: 16px;
    width: 16px;
    display: block;
    color: white;
    border: 2px solid white;
    border-radius: 16px;
    box-shadow: 0 0 3px #444;
    box-sizing: content-box;
    font-family: 'Courier New', Courier, monospace;
    text-indent: 4px;
    line-height: 16px;
    content: '+';
    background-color: #337ab7;
}

.error{
    color: #ff0000;
}

#modDocument
{
    padding: 0px !important;
    overflow: hidden;
}

.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; -webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px; width: 350px !important;}
.autocomplete-suggestion { padding: 4px 10px; white-space: nowrap; cursor:pointer; font-size: 12px; }
.autocomplete-selected { background: #F0F0F0; cursor:pointer; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-group { padding: 4px 10px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }
.form-horizontal .has-feedback .form-control-feedback { right:0px; }