/*
.basecustom .logoBoxLogin
{
    background-color: #FFF;
}

.basecustom .center-login .panel-body
{
    background-color: #FFF;
    border-radius: 4px 4px 0px 0px;
}

.basecustom h1.form-signin-heading {
    color: #000;
}
*/