.txt-changed
{
    background-color:#fcf8e3;
}
.green{
    color:lightgreen;
}
.red{
    color:red;
}
.yellow {
    color:#F0E68C;
}

.tab-content > .tab-pane
{
    background-color:#fff;
    padding:15px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}